.square {
  height: 50px;
  width: 50px;
  background: red;
  border-radius: 10px;
}

.square:hover {
  background: blue;
  animation-duration: 1s;
  animation-name: turn;
}

@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  /* 16% {
    transform: rotate(45deg);
  }
  33% {
    transform: rotate(90deg);
  } */
  50% {
    transform: rotate(135deg);
  }
  /* 66% {
    transform: rotate(90deg);
  }
  83% {
    transform: rotate(45deg);
  } */
  100% {
    transform: rotate(0deg);
  }
}
